span {
    margin-left: 5px;
    font-weight: bold;
    color: whitesmoke;
}

ul {
    list-style-position: inside;
    padding: 0 5px;
    color: whitesmoke;
}

p {
    color: whitesmoke;
    margin-top: 0px;
}

#submit {
    background-color: #9E9E9E;
    border-radius: 12px;
    border-style: outset;
    border-color: rgba(140, 128, 124);
    color: whitesmoke;
    font-family: Abel;
    outline: none;
    cursor: pointer;
}

#like-icon {
    border-style: none;
    margin: 10px 0;
    height: 30px;
    width: 30px;
    outline: none;
    background: url('/assets/img/like-01.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 30px;
}

img {
    height: 400px;
    width: 400px;
    vertical-align: middle;
    border-style: outset;
}

.feature-box {
    max-width: 400px;
    padding: 10px;
    text-align: justify;
    overflow-wrap: break-word;
}

#like-counter {
    font-family: Abel;
    font-size: small;
    color: #FF9E9D;
    vertical-align: super;
}

.input-box {
    width: 65%;
}