span {
    margin-left: 5px;
    font-weight: bold;
    color: whitesmoke;
}

button {
    outline: none;
    cursor: pointer;
}

ul {
    list-style-position: inside;
    padding: 0 5px;
    color: whitesmoke;
}

p {
    color: whitesmoke;
    margin-top: 0px;
}

#home-button {
    background-color: rgba(91, 89, 96);
    border-radius: 12px;
    border-style: outset;
    border-color: rgba(140, 128, 124);
    color: rgb(223, 223, 223);
    font-family: Abel;
    font-size: larger;
    font-weight: bold;
    white-space: nowrap;
    position: fixed;
    text-align: right;
    top: 70px;
    right: 50px;
    z-index: 100;
}

#submit {
    background-color: #9E9E9E;
    border-radius: 12px;
    border-style: outset;
    border-color: rgba(140, 128, 124);
    color: whitesmoke;
    font-family: Abel;
    outline: none;
    cursor: pointer;
}

#like-icon {
    border-style: none;
    margin: 10px 0;
    height: 30px;
    width: 30px;
    outline: none;
    background: url('/assets/img/like-01.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 30px;
}

img {
    height: 400px;
    width: 400px;
    vertical-align: middle;
    border-style: outset;
}

#profile-page-title {
    position: fixed;
    text-align: left;
    top: 50px;
    left: 50px;
    z-index: 100;
}

#photo-gallery-title {
    background-color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 170px;
    left: 0;
    z-index: 50;
}

#photo-gallery {
    background-color: whitesmoke;
    list-style-type: none;
    margin: 0 250px;
    padding: 20px;
    min-width: 500px;
    border-style: outset;
    border-color: rgba(140, 128, 124, 0.9);
    box-shadow: 3px 3px 6px  rgba(66, 64, 64, 0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 65vh;
    overflow-y: scroll;
}

#photo-box {
    background-color: #393939;
    border-style: outset;
    margin: 10px;
}


.feature-box {
    max-width: 400px;
    text-align: justify;
    overflow-wrap: break-word;
}

#like-counter {
    font-family: Abel;
    font-size: small;
    color: #FF9E9D;
    vertical-align: super;
}