<div>
  <a routerLink="/users/{{ username }}/{{ id }}/">
    <button id="home-button">Return to Profile PAge</button>
  </a>
</div>
<div id="profile-page-title">
  <h2>{{ username }}'s Image Page</h2>
</div>
<div id="photo-gallery-title">
  <h3>Photo Gallery</h3>
</div>
<div id="photo-gallery">
  <div id="photo-box" *ngFor="let currentImage of currentImages; let i = index">
    <table>
      <td>
        <tr>
          <td>
            <img src="{{ currentImage.image }}" />
          </td>
        </tr>
        <tr>
          <td class="feature-box">
            <button id="like-icon" (click)="likeIncrease(i)"></button>
            <span id="like-counter">{{ currentImage.like }}</span>
          </td>
        </tr>
        <!-- <tr>
          <td class="feature-box">
            <ul>
              <li *ngFor='let imageBoxComment of imageBox.comments'>{{ imageBoxComment }}</li>
            </ul>
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
              <span><label>Comment:</label></span>
              <span><input type="text" formControlName="commentBox"/></span>
              <span><input type="submit"/></span>
            </form>
          </td>
        </tr> -->
      </td>
    </table>
  </div>
</div>


