<div>
  <a routerLink="/">
    <button id="home-button" (click)="calculateLike()">Return to Home</button>
  </a>
  <a routerLink="/users/{{ username }}/{{ id }}/">
    <button id="photo-gallery-button" (click)="calculateLike()">Return to Photo Gallery</button>
  </a>
</div>
<div class="nav-page-title">
  <h2>{{ username }}'s Photo Info</h2>
</div>
<div class="page-content-title">
  <h3>{{ username }}'s Photo</h3>
</div>
<div class="display-card">
  <div class="display-box">
    <table>
      <td>
        <tr>
          <td>
            <img src="{{ currentImageUrl }}" />
          </td>
        </tr>
        <tr>
          <td class="feature-box">
            <button id="like-icon" (click)="likeIncrease()"></button>
            <!-- <span id="like-counter">{{ likes }}</span> -->
            <!-- <span id="like-counter">{{ likes.likeCounter }}</span> -->
            <span id="like-counter">{{ currentLike }}</span>
          </td>
        </tr>
        <tr>
          <td class="feature-box">
            <ul>
              <li *ngFor='let comment of comments'>
                <span>Author</span>
                <p>{{ comment.commentBox }}</p>
              </li>
            </ul>
            <form id="edit-profile-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
              <span><label>Comment:</label></span>
              <span><input class="input-box" type="text" formControlName="commentBox"/></span>
              <span><input id="submit" type="submit"/></span>
            </form>
          </td>
        </tr>
      </td>
    </table>
  </div>
</div>

<ul>
  <li *ngFor="let like of likes">
    {{ like.id }} - {{ like.imageIndex }} - {{ like.likeCounter }}
  </li>
</ul>