@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Advent Pro");
@import url("https://fonts.googleapis.com/css?family=Allerta Stencil");

:host {
    font-family: Abel;
}

#logo {
    font-family: Allerta Stencil;
}

img {
    width: 500px;
}