<div>
  <a routerLink="/">
    <button id="home-button">Return to Home</button>
  </a>
  <a routerLink="/users/{{ username }}/{{ id }}/">
    <button id="photo-gallery-button">Return to Photo Gallery</button>
  </a>
</div>
<div class="nav-page-title">
  <!-- <a routerLink="/users/{{ username}}/{{ id }}/profiles/edit" > -->
  <a routerLink="/users/ryanG/2/profiles/edit" >
    <h2>Edit {{ username }}'s Profile Page</h2>
  </a>
</div>
<div class="page-content-title">
  <h3>{{ username }}'s Profile Page</h3>
</div>
<div class="display-card">
  <div id="user-profile">
    <table>
      <td id="profile-pic">
        <tr>
          <td id="user-content">
            <img src="{{ currentProfileImage }}" />
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td id="user-label">UserID: </td>
          <td id="user-content">{{ currentId }}</td>
        </tr>
        <tr>
          <td id="user-label">Username: </td>
          <td id="user-content">{{ currentUsername }}</td>
        </tr>
        <tr>
          <td id="user-label">Name: </td>
          <td id="user-content">{{ currentName }}</td>
        </tr>
        <tr>
          <td id="user-label">Description: </td>
          <td id="user-content">{{ currentDescription }}</td>
        </tr>
        <tr>
          <td id="user-label">Blog Link: </td>
          <td id="user-content">{{ currentBlogLink }}</td>
        </tr>
        <tr>
          <td id="user-label">Facebook Link: </td>
          <td id="user-content">{{ currentFacebookLink }}</td>
        </tr>
        <tr>
          <td id="user-label">Email: </td>
          <td id="user-content">{{ currentEmail }}</td>
        </tr>
      </td>
    </table>
  </div>
</div>