span {
    margin-left: 5px;
    font-weight: bold;
    color: whitesmoke;
}


ul {
    list-style-position: inside;
    padding: 0 5px;
    color: whitesmoke;
}

p {
    color: whitesmoke;
    margin-top: 0px;
}

table {
    height: 150px;
}

th {
    border-style: inset;
    background-color: black;
    color: whitesmoke;
}

td {
    border-style: outset;
}

img {
    height: 200px;
    width: 200px;
    vertical-align: middle;    
}

a {
    font-weight: inherit;
    text-decoration: initial;
}

#user-profile {
    margin: 10px;
}

#profile-pic {
    display: contents;
    text-align: center;
}

#user-label {
    white-space: nowrap;
    font-weight: bold;
}

#user-content {
    width: 150px;
}