img {
    width: 150px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th {
    border-style: inset;
    background-color: black;
    color: whitesmoke;
}

td {
    border-style: outset;
}