  <div id="home-button">
    <a routerLink="/">
      <button>Return to Home</button>
    </a>
  </div>
  <div id="profile-page-title">
    <h2>User's Profile Page</h2>
  </div>



<!-- <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Profile Picture</th>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td><img src="{{ user.profileImage }}" /></td>
    </tr>
  </table> -->

<div id="photo-gallery-title">
  <h2>Photo Gallery</h2>
</div>
<div id="photo-gallery">
  <div *ngFor="let image of images">
    <img src="{{ image }}" />
  </div>
</div>

<!-- <div *ngIf="images.length === null">
  <h3>No images</h3>
</div>

<div *ngIf="images?.length > 0">
  <div style="text-align:center">
    <h3>Photo Gallery</h3>
  </div>
  <div id="photo-gallery">
    <div *ngFor="let image of images">
      <img src="{{ image }}" />
    </div>
  </div>
</div> -->




