img {
    width: 400px;
    vertical-align: middle;
    border-style: outset;
}

#photo-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
