<div>
  <a routerLink="/">
    <button id="home-button">Return to Home</button>
  </a>
</div>
<div class="nav-page-title">
  <a routerLink="/users/{{ username}}/{{ id }}/profiles" >
    <h2 class="link">View {{ username }}'s Profile Page</h2>
  </a>
</div>
<div class="page-content-title">
  <h3>{{ username }}'s Photo Gallery</h3>
</div>
<div class="display-card">
  <div class="display-box" *ngFor="let image of images; let i = index">
    <table>
      <td>
        <tr>
          <td>
            <a routerLink="/users/{{ username}}/{{ id }}/images/{{ i }}" ><img src="{{ image }}" /></a>
          </td>
        </tr>
      </td>
    </table>
  </div>
</div>


